.layout-default {
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    min-height: 100vh;

    .logo {
      max-width: 280px;
    }
  }
}
