//
// user-variables.scss
// Use this to overwrite Bootstrap and Geeks variables
//
// Example of a variable override to change Geeks primary color
// Remove the "//" to comment it in and see it in action!
$primary: #1b532e;
$seconday: #9ccf57;

$body-bg: #f3f7f4;


